<launch>
	<!-- Roomba -->
	<node pkg="roomba_package" type="roomba_sub.py" name="roomba_listener_algo" />

	<!-- Sonar -->
	<node pkg="sonar_package" type="sonar0x70_publisher.py" name="sonar0x70_publisher_node" />
	<node pkg="sonar_package" type="sonar0x72_publisher.py" name="sonar0x72_publisher_node" />
	<node pkg="sonar_package" type="sonar0x74_publisher.py" name="sonar0x74_publisher_node" />

	<!-- RPicam -->
	<node pkg="rpicam" type="rpicam_pub.py" name="rpicam_publisher_node" />

	<!-- Create Robot -->
	<arg name="config" default="$(find create_bringup)/config/default.yaml" />
  	<arg name="desc" default="true" />

	<node name="create_driver" pkg="create_driver" type="create_driver" output="screen">
		<rosparam command="load" file="$(arg config)" />
		<param name="robot_model" value="CREATE_2" />
	</node>

	<!-- Robot description -->
	<include if="$(arg desc)" file="$(find create_description)/launch/create_2.launch" />
	
</launch>
