<launch>
	<node pkg="sonar_package" type="sonar0x70_publisher.py" name="sonar0x70_publisher_node" />
	<node pkg="sonar_package" type="sonar0x72_publisher.py" name="sonar0x72_publisher_node" />
	<node pkg="sonar_package" type="sonar0x74_publisher.py" name="sonar0x74_publisher_node" />
	<node pkg="sonar_package" type="sonar0x75_publisher.py" name="sonar0x75_publisher_node" />
	<node pkg="sonar_package" type="sonar0x77_publisher.py" name="sonar0x77_publisher_node" />
	<!-- <node pkg="sonar_package" type="sonar_sub.py" name="sonar_listener_algo_2" /> -->
	<!-- <node pkg="sonar_package" type="sonar_algo_sub.py" name="sonar_listener_algo_1" /> -->
	<!-- <node pkg="sonar_package" type="sonar_subscriber.py" name="sonar_listener" /> -->
</launch>
